<?xml version="1.0"?>

<launch>
  <arg name="agent" default="agent1"/>
  <arg name="cmd_timeout" default="0.5"/>
  <arg name="x" default="2.0"/>
  <arg name="y" default="-2.0"/>
  <arg name="z" default="0.1"/>
  <arg name="roll" default="0.0"/>
  <arg name="pitch" default="0.0"/>
  <arg name="yaw" default="0.0"/>
  <arg name="robot_version" default="V7"/>
  
  <group ns="$(arg agent)">
    <!-- Spawn the vehicle. -->
    <param name="robot_description" 
      command="$(find xacro)/xacro $(find hamster_vehicle_description)/urdf/hamster.urdf.xacro 
      agent:=$(arg agent) robot_version:=$(arg robot_version)"/>
    
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
      <param name="publish_frequency" value="10" />
      <param name="tf_prefix" value="$(arg agent)" />
    </node>
    
    <node name="joint_state_publisher_simulation" pkg="joint_state_publisher" type="joint_state_publisher"/>
    <node name="spawn_vehicle" pkg="gazebo_ros" type="spawn_model"
            args="-urdf 
                  -param /$(arg agent)/robot_description
                  -model $(arg agent)
                  -x $(arg x) 
                  -y $(arg y) 
                  -z $(arg z)
                  -R $(arg roll) 
                  -P $(arg pitch) 
                  -Y $(arg yaw)"/>
  </group>

</launch>
