<launch>
 <arg name="agent" default="agent1"/>
 <arg name="cmd_timeout" default="0.5"/>
 <arg name="use_joystick" default="false" />
 <arg name="joystick_dev" default="/dev/input/js0"/>
 <arg name="sx" default="0"/>
 <arg name="sy" default="1.0"/>
 <arg name="robot_version" default="V7"/>

 <!-- <param name="robot_description" command="$(find xacro)/xacro $(find hamster_vehicle_description)/urdf/hamster.urdf.xacro"/> -->

 <group>
  <include file="$(find hamster_vehicle_description)/launch/hamster_agent.launch">
    <arg name="agent" value="$(arg agent)"/>
    <arg name="x" value="$(arg sx)"/>
    <arg name="y" value="$(arg sy)"/>
    <arg name="cmd_timeout" value="$(arg cmd_timeout)"/>
    <arg name="robot_version" default="$(arg robot_version)"/>
  </include>

  <group if="$(arg use_joystick)">
    <include file="$(find hamster_vehicle_gazebo)/launch/joystick.launch">
      <arg name="agent" default="$(arg agent)"/>
      <arg name="scale_linear" default="2"/>
      <arg name="scale_angular" default="0.5"/>
      <arg name="dev" value="$(arg joystick_dev)"/>
    </include>
  </group>

 <!-- <node pkg="rostopic" type="rostopic" name="rotate_lidar_for_$(arg agent)" args="pub /$(arg agent)/body_to_hokuyo_mesh_ctrl/command std_msgs/Float64 'data: 8.0'"/>   -->
 </group>
</launch>