<?xml version="1.0"?>
<launch>

  <!-- Note: joystick control mode working instead of wandering mode -->

  <env name="GAZEBO_MODEL_PATH" value="$(find hamster_vehicle_gazebo):$(find hamster_vehicle_gazebo)/models"/>
  <arg name="cmd_timeout" default="0.5"/>
  <arg name="use_joystick" default="false"/>

  <include file="$(find hamster_vehicle_gazebo)/launch/hamster_world.launch"/>

  <group>
    <arg name="agent" value="agent1"/>
    <include file="$(find hamster_vehicle_gazebo)/launch/hamster_vehicle_spawner.launch">
      <arg name="agent" value="$(arg agent)"/>
      <arg name="cmd_timeout" value="$(arg cmd_timeout)"/>
      <arg name="use_joystick" value="$(arg use_joystick)"/>
      <arg name="joystick_dev" value="/dev/input/js0"/>
      <arg name="sx" value="0"/>
      <arg name="sy" value="0"/>
      <arg name="robot_version" default="V7"/>
    </include>
    <include file="$(find hupster_wandering)/launch/wandering.launch">
      <arg name="robot_id" value="$(arg agent)"/>
    </include>
  </group>

</launch>